@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.ant-btn-primary {
  background-color: #a25800;
}

/* new */

/* Home.module.css */
.customForm .ant-form-item-label label {
  color: white;
}

.whiteLabelInput .ant-input {
  color: white;
}

.background_image {
  /* background-image: "url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80")"; */
  background-image: url("https://images.unsplash.com/photo-1497864149936-d3163f0c0f4b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80");
  background-size: "cover";
  background-position: "center";
}

.error_message {
  border: 2px solid red;
}

/* Sidebar.css */

.sidebar {
  width: 0;
  transition: width 0.5s;
  overflow: hidden;
}

.sidebar.open {
  width: 200px;
}

.sidebar-content {
  padding: 10px;
}


.ant-spin-dot-item {
  background-color: white !important;
}



.thead{
 
 
}

.columnCell{
  
  
 
}

.tableCell{    
  padding: 10px;
  background-color: white;
  box-shadow: 0 0 5px rgb(244, 245, 250);

  }

  :where(.css-dev-only-do-not-override-1hihieh).ant-btn-default{
    border: none;
  }

  body > div > div > main > div > div:nth-child(1) > div{
    border: none !important;
  }